
<div id="app-notes">
    <div>
    <label for="heading" style="margin:35px; font-weight:bold;">Note Application</label>
    </div>
    <br>
    <div>
        <input type="text"name="id" id="id" style="display: none;"/>
    </div>
    <div>
        <label for="title">Title: </label> 
        <input type="text" placeholder="Title" name="title" id="title"/>
    </div>
    <br>
    <div>
        <label for="Note">Note: </label> 
        <textarea name="note" id="note" rows="4" cols="50" placeholder="Description"></textarea>
    </div>
    <br>

    <input type="button" value="Create Note!" id="create-note" onclick='monkshu_env.components["app-notes"].createnote()'>
    <br>
    <br>
    <div id="printnote">
    </div>
</div>
